// Place all the styles related to the Cars controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
input[type=text], input[type=password], input[type=email], textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }

  button {
    background-color: #b12d1cce;
    color: white;
    padding: 14px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
  }

  button:hover {
    opacity: 0.8;
  }

  img.avatar {
    width: 20%;
    border-radius: 50%;
  }

  a {
    text-decoration: none;
  }

  .mt-6, .my-6 {
    padding-top: 5rem !important;
}

.mr-6, .mx-6 {
padding-right: 5rem !important;
}

.mb-6, .my-6 {
padding-bottom: 5rem !important;
}

.ml-6, .mx-6 {
padding-left: 5rem !important;
}

.mt-10, .my-10 {
padding-top: 8rem !important;
}

.mr-10, .mx-10 {
padding-right: 8rem !important;
}

.mb-10, .my-10 {
padding-bottom: 8rem !important;
}

.ml-10, .mx-10 {
padding-left: 8rem !important;
}

.paginationNav {
    margin-left: -2rem !important;
}

@media (max-width: 576px) {  
    .imgCoche {
        width: 100%;
        height: 60vw;
        object-fit: cover;
        border-radius: 8px 8px 0px 0;
    }
}

@media (min-width: 576px) {  
    .imgCoche {
        width: 100%;
        height: 50vw;
        object-fit: cover;
        border-radius: 8px 8px 0px 0;
    }
}

@media (min-width: 992px) {  
    .imgCoche {
        width: 100%;
        height: 20vw;
        object-fit: cover;
        border-radius: 8px 8px 0px 0;
    }
}

.carTitle {
    text-decoration: none;
    color: darkred;
}

.carTitle:hover {
    color: darkred;
}

#courses .section-title {
    text-align: center;
  }

  #courses .owl-theme .owl-nav {
    margin-top: 30px;
  }

  #courses .owl-theme .owl-nav [class*=owl-] {
    border-radius: 2px;
    font-size: 16px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    padding: 0;
  }

  .courses-thumb {
    background: #f9f9f9;
    position: relative;
  }

  .courses-thumb-secondary {
    margin-bottom: 30px;
  }

.form .form-control,
  .modal .form-control { background-color: #eee;  }

  .courses-top {
    position: relative;
  }

  .courses-date {
    background: linear-gradient(rgba(255, 0, 0, 0), rgba(0, 0, 0, 0.6));
    width: 100%;
    position: absolute;
    bottom: 0;
    padding: 20px 25px;
  }

  .courses-date span,
  .courses-author span {
    font-size: 14px;
    font-weight: bold;
  }

  .courses-date span {
    color: #ffffff;
    display: inline-block;
    margin-right: 10px;
  }

  .courses-detail {
    padding: 25px 25px 15px 25px;
    min-height: 15rem;
  }

  .courses-detail h3 {
    margin: 0 0 2px 0;
  }

  .courses-info {
    border-top: 1px solid #f0f0f0;
    position: relative;
    clear: both;
    padding: 15px 25px;
  }

  .courses-author,
  .courses-author span {
    display: inline-block;
    vertical-align: middle;
  }

  .courses-author img {
    display: inline-block !important;
    border-radius: 50px;
    width: 50px !important;
    height: 50px;
    margin-right: 10px;
  }

  .courses-price {
    float: right;
    margin-top: 10px;
  }

  .courses-price span {
    background: #29ca8e;
    border-radius: 2px;
    color: #ffffff;
    display: block;
    padding: 5px 10px;
  }

  .courses-price.free span {
    background: #dc3545;
  }
  
